$dark-red-color: #e0310d;
$light-red-color: #ff564f;
$dark-purple-color: #302741;
$light-yellow-color: #f6e673;
$light-purple-color: #948293;
$preDark-yellow-color: #fcfb61;
$preDark-orange-color: #f17e14;
$golden-color: #d9ac1f;
