@use "../SASS/colors" as *;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Product Sans bold";
    src: url(../fonts/Product\ Sans\ Bold.ttf);
    font-weight: bold;
    font-style: bold;
}
@font-face {
    font-family: "Product Sans regular";
    src: url(../fonts/Product\ Sans\ Regular.ttf);
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Komika Hand Bold-Italic";
    src: url(../fonts/KOMIKHBI.ttf);
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: "Komika Jam Italic";
    src: url(../fonts/KOMIKJI_.ttf);
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: "Komika Slim Italic";
    src: url(../fonts/KOMIKSLI.ttf);
    font-weight: normal;
    font-style: italic;
}

::selection {
    color: white;
    background-color: #302741;
}

h1,
h2 {
    font-family: "Bangers", cursive;
}
